.cancel-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.cancel-btn i {
    margin-right: 5px; /* Space between the icon and the text */
}

.cancel-btn:hover {
    background-color: darkred;
}
